<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Basic Homepage using flask</title>
    {% include 'bootstrap.html' %}

  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'banner_file.html' %}
    <div class="container">
      <h1 class="text-center mt-3 mb-3">Among Us</h1>
      <div class="row" style='margin-bottom:16px;'>
        <div class="col-md-8">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="d-none d-md-block col-md-4"><!--couple of cool tags here, d-none makes it so that this image will actually not be visibe on mobile, and d-md-block means it wont show on devices of size medium or smaller. -->
          <img src='/static/among.jpg' style="height:280px; border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-3 mb-3">Open Among Us SUS</h2>
      <!-- This div uses flask to generate templates stored elswhere using a for loop to iterate through the jobs array, the include section includes code stored in jobitem.html, which helps with organization.-->
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      
      </div>
      <div class="text-center">
      <a href="mailto:nico.leone2002@gmail.co?subject=Contact%20Us&body=Name%3A%0D%0A%0D%0AQuestion%3A" 
type="button" class="btn btn-secondary">Contact Us</a>
<!--this uses a cool type of link called mailto, which opens the mail app on your PC with the subject already set. The link is created on a website called https://mailtolink.me/, which can autogenerate the href for a formatted email. -->
      </div>
    </div>
    <div style="margin-top:20px;">
    {% include 'footer.html' %}
    </div>
  </body>
</html>