<!-- below is the first example of using flasks templating in the website,
basically, we create a for loop to iterate through the JOBS list in app.py, for each value in       the array, we create a header with the title, then a div with the location. This allows for         easy adding and deleting of values.-->
<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:10px;">   
  <div class="col-9">
    <h4 style="color: rgb(120,120,120); margin-bottom:4px;"">{{job['title']}}</h4>       
    <div><b>Location:</b> {{job['location']}}</div>    
    {% if 'salary' in job %} <!--this if statement handles the case if no salary is listed for a job
            making it so that it wont render this div if there is no salary.-->   
    <div><b>Salary:</b> {{job['salary']}}</div>     
    {% endif %}
  </div>
  <div class="col-3">
    <a href="mailto:nico.leone2002@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20name%20%3A%20%3Cyour%20Name%20here%3E%0D%0A%0D%0AMy%20Resume%20Link%3A%20%3Cresume%20link%3E%0D%0A%0D%0AMy%20Linkedin%20Link%3A%20%3CLinkedin%20Link%3E" type="button" class="btn btn-outline-secondary">Apply</a><!--this uses a cool type of link called mailto, which opens the mail app on your PC with the subject already set. The link is created on a website called https://mailtolink.me/, which can autogenerate the href for a formatted email. -->
  </div>
</div>